* {
    box-sizing: border-box;
    
}

body {
    background-color: #ebeaea;
}

h1 {
    font-family: Verdana;
    font-size: 28px;
    color: #000000;
    text-align: center;
    border: solid;
    border-color: #0f0f0f11;
    border-width: 14px;
    }

nav {
    border-color: rgb(187, 113, 22);
    border-style: double;
    box-sizing: border-box;
}
/* ul.dropdown specifiies only the drop down, not other Ul in lists */
ul.dropdown {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/* commented out the .nav that is no longer needed.  */
/* .nav {
    text-align: left;
    font-weight: bold;
    font-size: medium;
    font-family: Verdana;

} */

h2 {
    font-family: Verdana;
    font-size: 22px;
    color: aliceblue;
    text-align: center;
    border: 0cap;
    border-style: solid;
    border-color: aqua;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px; 

}


        .dropbtn {
            background-color: #564caf;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
          }
          
          .dropdown {
            position: relative;
            display: inline-block;
          }
          
          .dropdown-content {
            display: none;
            position: absolute;
            background-color: #cca3d4;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
          }
          
          .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
          }
          
          .dropdown-content a:hover {background-color: #f1f1f1}
          
          .dropdown:hover .dropdown-content {
            display: block;
          }
          
          .dropdown:hover .dropbtn {
            background-color: #c715a0;
          }
div.gallery {
    margin: 5px;
    border: 2px solid #f1f1f1;
    float: left;
    width: 200px;
}

div.gallery img  {
    width: 100%;
    height: auto;
}
div.desc {
    padding: 15px;
    text-align: center;
}

footer  {
    bottom: auto;

}

table, th, td  {
    border: 1px solid;
    max-width: 100%;
    margin: auto;
    background-color: antiquewhite;
    box-shadow: #180301;
    padding: 5px 15px 5px 10px;
}

th {
    background-color: #cca3d4;
    box-shadow: #000000;
    border-radius: 5px;
    border: 2px solid;
}

/* thead {
    text-align: center;
    font-style: bold;
    background-color: #c715a0;

} */

/* td {
    font-style: bold;
    text-align: center;
} */
